.contacts-bar {
  width: 214px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  right: 6%;
  top: 10%;
  gap: 0.5rem;
}

.contacts-bar a {
  text-decoration: none;
  border-radius: 50%;
  border: solid 1px var(--accent);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  font-size: 2rem;
  color: var(--accent);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.contacts-bar a:hover {
  color: var(--base);
}

.contacts-bar a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--accent);
  z-index: -1;
  transition: 0.5s;
}

.contacts-bar a:hover::before{
  width: 100%;
}

.contacts-bar i {
  border-bottom: unset;
}

@media (min-width: 1001px) {
  .contacts-bar a {
    font-size: 2.1rem;
  }
}
