.contacts-page-container {
  background-color: var(--base);
  color: var(--font);
  padding-top: 54px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contacts-titles-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contacts-titles-container h2 {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--accent);
  padding-top: 0.5rem;
}

.contacts-titles-container p {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.contacts-titles-container img {
  display: none;
}

.show-contact-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
}

.contact-form {
  background-color: var(--card-color);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.contact-form div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-form div > input {
  width: 7.5rem;
  height: 34px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--accent);
  color: var(--font);
}

.contact-form > input {
  height: 34px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--accent);
  color: var(--font);
}

.contact-form > textarea {
  background-color: transparent;
  height: 40%;
  border: none;
  border-bottom: solid 1px var(--accent);
  color: var(--font);
}

.contact-form > button {
  background-color: var(--accent);
  height: 34px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  font-size: 1.1rem;
}

.area-5-contacts {
  visibility: hidden;
}

@media (min-width: 1001px) {
  .contacts-page-container {
    flex-direction: row;
  }

  .contacts-titles-container {
    width: 50%;
    height: 100%;
    padding: 3rem 2.5rem 3rem 5rem;
    gap: 2rem;
  }

  .contacts-titles-container h2 {
    display: none;
  }

  .contacts-titles-container p {
    font-size: 2rem;
    font-weight: 500;
    color: var(--accent);
    padding: unset;
  }

  .contacts-titles-container img {
    display: unset;
  }

  .show-contact-card {
    gap: 1rem;
    width: 50%;
    height: 100%;
    padding: 3rem 5rem 3rem 2.5rem;
  }

  .contact-form {
    margin: unset;
  }

  .contact-form div > input {
    width: 47%;
  }
}
