.projects-page-container {
  background-color: var(--base);
  color: var(--font);
  width: 100vw;
  max-width: 100%;
  overflow: auto;
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-page-container h2 {
  padding-top: 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--accent);
}

.projects-page-container p {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.show-project-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.area-4-projects {
  visibility: hidden;
}
