.skills-page-container {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding-top: 54px;
  background-color: #060a17;
  color: var(--font);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-infos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-infos-container h2 {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--accent);
  padding-top: 0.5rem;
}

.skills-infos-container p {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.whats-icon {
  font-size: 10rem;
}

.area-2-skills {
  visibility: hidden;
}

@media (min-width: 1001px) {
  .skills-page-container {
    padding-top: 64px;
    flex-direction: row-reverse;
  }

  .skills-infos-container {
    width: 50%;
    height: 100%;
    padding: 5rem 5rem 5rem 0;
    gap: 2rem;
  }

  .skills-infos-container h2 {
    font-size: 3rem;
    padding-top: 1.5rem;
  }

  .skills-infos-container p {
    font-size: 1.1rem;
    line-height: 2;
  }
}
