.time-line-container {
  width: 100%;
  max-width: 700px;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  position: relative;
  margin: 1rem;
}

/* barra central */
.time-line-container::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: var(--font);
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 50%;
}

/* cards */
.container {
  background-color: var(--card-color);
  padding: 0.5rem;
  position: relative;
  width: 41%;
  border-radius: 4px;
}

/* bolinhas */
.container::after {
  content: '';
  position: absolute;
  background-color: var(--base);
  width: 0.8rem;
  height: 0.8rem;
  border: 3px solid var(--font);
  border-radius: 50%;
  z-index: 1;
  top: 0;
}

/* posição dos cards */
.left {
  left: 0;
}
.right {
  left: 11.4rem;
}

/* posição das bolinhas */
.left::after {
  left: 9.2rem;
}
.right::after {
  left: -2.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content > h2 {
  font-size: 1.1rem !important;
  color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 1001px) {
  .time-line-container {
    width: 50%;
    height: 100%;
    padding: 5rem 5rem 5rem 2.5rem;
    margin: unset;
  }

  .time-line-container::after {
    margin: 5rem 0;
    left: 47%;
  }

  .left::after {
    left: 17.6rem;
    top: 0.5rem;
  }

  .right::after {
    left: -3.9rem;
    top: 0.5rem;
  }

  .right {
    left: 21.5rem;
  }

  .content > h2 {
    font-size: 1.5rem !important;
  }

  .description {
    font-size: 1.1rem;
  }
}