.icon-cloud-container {
  margin: 1rem;
  width: 85%;
}

@media (min-width: 1001px) {
  .icon-cloud-container {
    width: unset;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset;
    padding: unset;
    padding: 5rem;
  }
}
