@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --base: #01040f;
  --font: whitesmoke;
  --accent: yellowgreen;
  --accent2: #00C4FF;
  --card-color: rgba(128, 128, 128, 0.108);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--card-color);
  border-radius: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--base);
}
